/* ---- Base Rules ---- */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgb(201, 84, 152) 0%, rgb(230, 169, 187) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #bf2aab;
    text-shadow: rgb(91, 74, 76) 1px 0 10px;
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    /*-- margin: 2em 1rem; --*/
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        /*-- margin: 2em 4rem 1em; --*/
    }
}

h2 {
    border-bottom: 1px solid rgb(243, 239, 230);
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #da43c5;
    text-shadow: 1px 1px 2px pink;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main__hero {
    min-height: 40vh;
    padding-top: 3em;
    display: flex;
}

@media only screen and (max-width: 35em){
    .main__hero {
        display: block;
    }
    #cf3 {
        position: unset !important;
        width: unset !important;
    }
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: left;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.menu__link.current,
.navbar__menu .menu__link:hover {
    background: #f3d2e8;
    color: #e342ad;
    transition: ease 0.3s all;
}

#navbar__list { 
    display: flex;
    flex-wrap: wrap;
}

#navbar__list > li {
    flex: 0 50%;
}

.menu__link.current:after {
    content: " 🐶";
}

@media (min-width: 500px) {
    #navbar__list { 
        display: block;
    }
}

/* Header Styles */
@keyframes cf3FadeInOut {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
#cf3 {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
}
#cf3 img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
#cf3 img.top {
  width: 455px;
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}
#cf3 img.bottom {
    width: 455px;
}

.page__header {
    background: #ffffffed;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #f2ebee;
    padding: 3em;
    color: #e12fa0;
}

.page__footer p{
    color: #e12fa0;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
section.now-active {
    background: rgb(187, 91, 142);
    background: linear-gradient(0deg, rgba(205, 57, 151, 0.1) 0%, rgba(217, 92, 171, 0) 100%);
}

section.now-active .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.now-active .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}